<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:border="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="ISO-8859-1">
    <title> CRUD amb Spring Boot i MySQL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div th:switch="${sucursalList}">
    <h2 th:case="null">Encara no hi ha cap sucursal registrada!</h2>
    <div th:case="*">
        <h2>Sucursals</h2>
        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Identificador</th>
                <th>Nom</th>
                <th>Pais</th>
                <th>Tipus</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sucursal : ${sucursalList}">
                <td th:text="${sucursal.pk_SucursalID}"></td>
                <td th:text="${sucursal.nomSucursal}"></td>
                <td th:text="${sucursal.paisSucursal}"></td>
                <td th:text="${sucursal.tipusSucursal}"></td>
                <td><a th:href="@{/edit/{id}(id=${sucursal.pk_SucursalID})}" class="btn btn-primary">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${sucursal.pk_SucursalID})}" class="btn btn-danger">Delete</a></td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/signup}" class="btn btn-primary"> Nova sucursal </a>
        <hr>

        <h2>Cercar sucursal</h2>
        <form action="#" th:action="@{/getOne}" th:object="${sucursal}" method="get">
            <input type="number" th:field="*{pk_SucursalID}" id="pk_SucursalID" placeholder="Codi identificador" class="form-control mb-3 col-3">
            <span th:if="${#fields.hasErrors('pk_SucursalID')}" th:errors="*{pk_SucursalID}"></span>
            <button type="submit" class="btn btn-primary">Cercar</button>
        </form>
    </div>

</div>
</body>
</html>